{% extends "observaciones.html" %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Registro de observaciones</title>
        </head>
        <body>
            <h1>Bienvenido al registro de observaciones</h1>
            <h2>Coloca tus datos</h2>
            <form action="/resultado" method="get">{%csrf_token%}
                <label for="equipo">Nombre del equipo
                    <input type="text" name="equipo" id="equipo"> <br><br>
                </label>
                <label for="ip">Dirección IP del equipo
                    <input type="text" name="ip" id="ip"> <br><br>
                </label>
                <label for="observaciones">Observaciones
                    <textarea name="observaciones" id="observaciones" cols="30" rows="10"></textarea> <br><br>
                </label>
                <input type="submit" value="Enviar">
            </form>
            <p>Numero de comentarios: {{ num_comentarios }}</p>
        </body>
    </html>
{% endblock %}